<a href="tickets/new">Add a ticket</a>



<div class=“navbar-fixed”>
    <nav>
        <div class=“nav-wrapper”>
            <% if (user) { %>
                <a href=/logout class="login">Log Out</a>
            <% } else { %>
                <a href=auth/google class="login">Login</a>
            <% } %>
        </div>
    </nav>
</div>