<%- include('../partials/header') %>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<%- include('../partials/login') %>

<form id="new-form" action="/tickets/create" method="POST">
    <label>Event name:
        <input type="text" name="name">
    </label><br>
    <label>Event Day:
        <input type="text" name="day">
    </label><br>
    <label>Location:
        <input type="text" name="location">
    </label><br>
    <label>Price:
        <input type="text" name="price">
    </label><br>
    <input type="submit" value="Add Flight">
</form>

<%- include('../partials/footer') %>
