<%- include('./partials/header') %>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<%- include('./partials/login') %>

<h1 id="slogan"> We go above and beyond</h1>


<%- include('./partials/footer') %>

