*{
  font-family: 'EB Garamond', serif;
  box-sizing: border-box;
}

header{
  display: inline;
  text-align: center;
}

body  {
 background-image: url("https://www.itl.cat/pngfile/big/72-726602_hd-background-color-transition.jpg");
}

.login{
  display: grid;
  justify-content: right;
  text-decoration: none;
  font-size: 20px;
  margin-right: 10px;
  color: gray;
}

#slogan{
  color: wheat;
  font-size: 85px;
  height: 6em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

#tickets-list{
  margin: 0;
}

.display-ticket{
  font-size: 35px;
  margin: 0;
}

button{
  display: inline;
  float: left;
}
#navbar{
  text-decoration:none;
  color: wheat;
  margin: 10px;
  text-align: center;
  font-size: 25px;
}

a{
  text-align: center;
  display: inline;
  margin: 20px;
  color: wheat;
  text-decoration: none;

}

a:hover{
  color: cadetblue;
}

input, label, .details{
  display: block;
  width: 240px;
  height: auto;
  margin: 10px auto;
  text-align: center;
  color: wheat;
  font-size: 25px;
}

input{
  color: black;
}

.text{
  color: wheat;
}

button{
  margin: 10px auto;
  text-align: center;
  color: black;
  font-size: 20px;
}









