*{
  font-family: 'EB Garamond', serif;
  box-sizing: border-box;
  width: auto;
  height: auto;
}

header{
  display: inline;
  text-align: center;
}

/*body  {*/
/*  background-image: url("https://www.ecopetit.cat/wpic/mpic/98-985436_galaxy-wallpaper-free-download-earth-wallpaper-hd.jpg");*/
/*  background-repeat: no-repeat;*/
/*  background-size: cover;*/
/*}*/

.login{
  display: grid;
  justify-content: right;
  text-decoration: none;
  font-size: 20px;
  margin-right: 10px;
  color: black;
}

#slogan{
  color: darkslategrey;
  font-size: 85px;
  height: 8em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

#tickets-list{
  margin: 0;
}

.display-ticket{
  font-size: 35px;
  margin: 0;
}


